name: Benchmark

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  codspeed-benchmarks:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@v1
        with:
          channel: stable
          cache-target: release
          bins: cargo-codspeed

      - name: Build the benchmark target(s)
        run: cargo codspeed build

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4.10.6
        with:
          run: cargo codspeed run
          mode: simulation
