on: push
name: build
jobs:
  check-build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: cargo, rustc, rust-std
      - run: cargo build --all-features

  check-build-no-std:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - run: rustup target add thumbv7em-none-eabihf
      - run: cargo build --no-default-features --features alloc
      - run: cargo build --no-default-features --features alloc --target thumbv7em-none-eabihf
