on: push
name: build
jobs:
  check-build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: cargo, rustc, rust-std
      - run: cargo build --all-features

  check-build-no-std:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: thumbv7em-none-eabihf
      - run: cargo build --no-default-features --features alloc
      - run: cargo build --no-default-features --features alloc --target thumbv7em-none-eabihf
