on: push
name: test
permissions:
  contents: read
jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --all-features

  run-tests-coverage:
    runs-on: ubuntu-24.04
    container:
      image: xd009642/tarpaulin:0.32.7
      options: --security-opt seccomp=unconfined
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Generate code coverage
        run: |
          cargo tarpaulin --verbose --all-features --workspace --timeout 120 --out xml
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Archive code coverage results
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-report
          path: cobertura.xml

  run-tests-no-std:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test --no-default-features --features alloc

  miri:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: miri
      - run: cargo +nightly miri test --all-features
        env:
          MIRIFLAGS: "-Zmiri-disable-isolation"
